/**
  Шрифты
 */
@font-face {
  font-family: "Heebo";
  src: url("./fonts/Heebo-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Heebo";
  src: url("./fonts/Heebo-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Yantramanav";
  src: url("./fonts/Yantramanav-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-dark: #000000;
  --color-light: #ffffff;

  --color-gray-1: #ececec;

  --border-radius: 30px;
  --border: 1px solid var(--color-light);

  --font-family-base: "Heebo", sans-serif;
  --font-family-accent: "Yantramanav", sans-serif;
}

body {
  font-family: var(--font-family-base);
  font-weight: 300;
  font-size: 16px;
  line-height: 1.75;
  color: var(--color-gray-1);
  background-color: var(--color-dark);
}

svg *[fill] {
  fill: currentColor;
}
svg *[stroke] {
  stroke: currentColor;
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

svg * {
  transition-property: fill, stroke;
}

a {
  color: var(--color-light);
}

a:hover {
  color: var(--color-light-gray);
}

p {
  margin-block: 0;
}

p:not([class]):not(:last-child) {
  margin-bottom: 24px;
}
